.navbar {
  margin: 0 auto;
  padding: var(--space-4) var(--size-gutter);
  border-bottom: 0.5px solid #1e2029;
  background: var(--light-black);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ctaSection {
  display: flex;
  gap: 25px;
  align-items: flex-start;
}

.ctaSection p {
  margin: 0px;
}
